.App {
  font-family: sans-serif;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn-like {
  background: lightseagreen;
  color: white;
}

.h-500 {
	height: 500px;
}
